* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.links {
  padding: 16px;
  margin-bottom: 56px;
  list-style: none;
}
.links li a {
  color: rgb(160, 157, 157);
  margin-top: 3;
}
.link-interno {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  display: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 16px;
  border-bottom: 1px solid #eee;
  margin-bottom: 56px;
  background-color: #a00303;
}
header h1 {
  color: rgb(160, 157, 157);
  font-size: 50px;
}
.sub-menu {
  display: none;
  position: absolute;
  border: 1px solid #a00303;
  left: 0px;
  width: 300px;
  top: 100%;
  background-color: white;
}
.menu > li {
  float: left;
  list-style: none;
  padding: 16px;
  border-top: 4px solid transparent;
  position: relative;
}
.clear {
  clear: both;
}
.menu li:hover .sub-menu {
  display: block;
}
.menu li:hover {
  border-top: 4px solid #a00303;
}
.sub-menu li {
  display: block;
  padding: 8px;
}
.conteudo {
  display: grid;
  grid-template-columns: 70% 30%;
}
.produto img {
  max-width: 100%;
}
.destaque {
  margin-bottom: 56px;
}
.destaque .produto a {
  display: flex;
  font-size: 2em;
}
.destaque .produto img {
  margin-right: 8px;
}
section h2 {
  margin-bottom: 32px;
}
section {
  margin-bottom: 56px;
}
aside {
  padding-left: 40px;
}
aside .produto {
  margin-bottom: 24px;
}
.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 10px;
}
@media screen and (max-width: 768px) {
  .conteudo {
    display: block;
  }
  .container {
    max-width: 90%;
  }
  aside {
    padding-left: 0;
  }
  .produtos {
    display: block;
  }

  .destaque .produto a {
    display: block;
    font-size: 1.5em;
  }
  .destaque .produto img {
    margin-right: 0;
  }
  .destaque .produto {
    margin-bottom: 32px;
  }
  header div.container {
    flex-direction: column;
  }
  .sub-menu {
    display: block;
    width: 100%;
    position: relative;
    border: none;
  }
  .menu {
    display: none;
  }
  .menu > li {
    clear: both;
  }

  .sub-menu li {
    display: block;
    padding: 8px;
  }
  .botao-menu {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  .botao-menu button {
    padding: 8px 16px;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
  .botao-menu {
    display: none;
  }
  .destaque .produto a {
    font-size: 1.5em;
  }
  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .botao-menu {
    display: none;
  }
}
.produto img,
.produtos img {
  width: 500px;
  height: 250px;
  padding: 16px;
}
